<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container> -->

<!-- <div>
  <label>address:
  <input [(ngModel)]="address" placeholder="name">
</label>

</div> -->
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div >
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="address" placeholder="address" name="address">
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="success != 1" fxFlex="88px">
    <button type="button" mat-raised-button color="primary" (click)="getAddress(address)" >go</button>
  </div>
  <div *ngIf="success == 1" fxFlex="88px">
    <mat-spinner [diameter]=30 class="center"> </mat-spinner>
  </div>

</div>