.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.button {
  margin-left: 10px;
  width: 5px;
}

.center {
  margin: 0 auto;
}

/* div.container {
  display: flex;
  margin-bottom: 10px;
} */

/* div.container>div {
  flex: 1 1 5em;
} */
